body{
    font-style: italic; 
  }
 
    .main_content {
      grid-area: main_content_container;
      border: 1px solid black ;
      text-align: center;
      /* Width:100%; */
    }
    .main_container {
      display: flex;
    }

  .main_content_ {
    z-index: -10;
    /* margin-top: 4.3%; */
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1px;
    /* margin-left: 15%;  */
    overflow-y: auto; 
    background-color: #eeeeee;
  }
  
  .template{
    border-radius: 20px;
    padding: 5px
  }
  .explore{
    text-align: center;
    margin-top: 25px;
  }
  .user_ {
    width: 100%;
    height: 46vh;
    border: 3px solid black;
    border-radius: 20px;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .main_content_ {
    display: flex;
    /* margin-left: 15%; */
    margin-top: 4%;
  }
  
  .masonry {
    background-clip: padding-box;
  }
  
  .masonry img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
  }