body{
  background-color:#EBE3D5;
}
.main_container {
    display:flex;
}

  .side_nav_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: side_nav_container;
    text-align: center;
    border: 3px solid black;
    border-top-right-radius: 20px;
    width: 15%;
    height: 92vh;
    background-color: #F3EEEA;
  }
  .side_nav_container, .nav_container {
    position: fixed;
    z-index: 100; 
  }
  .side_nav_container {
    top: 8%;
    left: 0;
    height: 92vh;
    overflow-y: hidden ; 
  }
  .nav_container {
    top: 0;
    right: 0;
    width: 100%;
  }
  .bottom_nav {
    margin-top: auto;
  }
.icon_add{
  margin-left: 10px;
}

  .nav_container {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    align-items: center;
    grid-area: nav_container;
    background-color: #F3EEEA;
    text-align: center;
    width: 100%;
    height: 8vh;
  }
  .search-bar {
   width: 30vw;
   text-align: center;
  
  }

.search_bar{
  width: 25vw;
  height: 4vh;
  border-radius: 20px;
  font-size: 25px;
  margin-top: 1vh;
}
.search_bar::placeholder {
  color: #B0A695; 
  font-style: italic; 
  padding-left: 25px;
}
  
  .main_content_container {
    text-align: center;
    /* Width:100%; */
  }
  .main_container {
    display: flex;
  }
  .logo {
    width: 10vh;
    height: 7vh;
    margin-top: 1vh;
    margin-left: 30px;
  }
  .btn {
    width: 5vw;
    font-style: italic; 
    margin-top: 5px; 
    padding: 8px 16px; 
    /* background-color: #494949; */
    color: white; 
    border: none; 
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-btn{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 13vw;
    height: 5vh;
    }

    button {
      background-color: #B0A695;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #EBE3D5;
}
.sign-note{
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-left: 15%;
}
h3{
  text-decoration: underline rgb(236, 236, 236);
  color: #776B5D;
}
.com {
  border-radius: 15px;
  font-size: 18px;
  font-style: italic; 
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: background-color 0.3s ease; 
}
.com:hover {
  background-color: #EBE3D5; 
}
.user_img {
  border-radius: 20px;
  border: 2px solid black;
}

.main_content_container {
  display: flex;
  margin-left: 15%;
  margin-top: 4%;
}

.masonry_column {
  background-clip: padding-box;
}

.masonry_column img {
  width: 50%;
  border-radius: 20px;
  margin-bottom: 5px;
}




/* mainpage.css */

.main_content_container {
  width: 85%;
  /* border: 2px solid black; */
}

.masonry-grid {
  display: flex;
  margin-left: -10px; 
  width: auto;
}

.masonry-column {
  padding-left: 10px; 
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 10px;
  overflow: hidden; 
}

.user_img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

