.main_container {
    display:flex;
  }

  .side_nav_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: side_nav_container;
    text-align: center;
    border: 1px solid black;
    border-top-right-radius: 20px;
    width: 15%;
    height: 92vh;
    background-color: #eeeeee;
  }
  .side_nav_container, .nav_container {
    position: fixed;
    z-index: 100; 
  }
  .side_nav_container {
    top: 8%;
    left: 0;
    height: 92vh;
    overflow-y: hidden ; 
  }
  .nav_container {
    top: 0;
    right: 0;
    width: 100%;
  }
  .bottom_nav {
    margin-top: auto;
  }
.icon_add{
  margin-left: 10px;
}
.sign_btn{
  margin-left:50vw;
  /* border: 5px solid black ; */
}
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav_container;
    /* border: 1px solid black; */
    background-color: #eeeeee;
    text-align: center;
    width: 100%;
    height: 8vh;
  }
  .search-bar {
   width: 30vw;
  }
.search_bar{
  width: 25vw;
  height: 4vh;
  border-radius: 20px;
}
.search_bar::placeholder {
  color: #999; 
  font-style: italic; 
  padding-left: 25px;
}
  
  .main_content_container {
    text-align: center;
    /* Width:100%; */
  }
  .main_container {
    display: flex;
  }
  .logo {
    width: 10vh;
    height: 7vh;
    margin-top: 1vh;
    margin-left: 30px;
  }
  .btn {
    font-style: italic; 
    margin-right: 20px; 
    padding: 8px 16px; 
    background-color: #494949;
    color: white; 
    border: none; 
    border-radius: 4px;
    cursor: pointer;
  }

.com {
  border-radius: 15px;
  font-size: 18px;
  font-style: italic; 
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: background-color 0.3s ease; 
}
.com:hover {
  background-color: #dbdbdb; 
}
.user_img {
  border-radius: 20px;
}

.main_content_container {
  display: flex;
  margin-left: 15%;
  margin-top: 4%;
}

.masonry_column {
  background-clip: padding-box;
}

.masonry_column img {
  width: 50%;
  border-radius: 20px;
  margin-bottom: 5px;
}
